.loginScreen {
  position: relative;
  height: 100%;

  background-image: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.loginScreen__logo {
  position: fixed;
  left: 20px;
  top: 10px;
  padding-left: 10px;
  width: 200px;
  object-fit: contain;
  cursor: pointer;
}

.loginScreen__button {
  position: fixed;
  right: 20px;
  top: 15px;

  padding: 10px 20px;
  border: none;

  background-color: #e50914;
  color: white;
  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.1s ease-out;
}

.loginScreen__button:hover {
  background-color: #ee5960;
}

.loginScreen__gradient {
  height: 100vh;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 0
  );
}

.loginScreen__body {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: #fff;
  padding: 20px;
  top: 30%;
  text-align: center;
}

.loginScreen__body h1 {
  font-size: 3.125rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.loginScreen__body h2 {
  font-weight: 200;
  margin-top: 40px;
}
.loginScreen__body > span {
  color: #ee5960;
  padding: 0 4px;
}

.loginScreen__body h4 {
  font-size: 1rem;
  margin-top: 40px;
}

.loginScreen__input{
  margin: 20px;
}

.loginScreen__input > form > input {
  height: 50px;
  width: 30%;
  max-width: 600px;
  
  padding: 16px;
  border: none;
  outline-width: 0;
}
.loginScreen__getStarted {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;

}
